{% extends "base.html" %}

{% block title %}{{ article.title|striptags }}{% endblock %}


{% block headerimage %}
{% if article.image %}
	<div class="postheader">
		<div class="postheader-wrap">
			<img class="postheader-trans" src="data:image/gif;base64,R0lGODlhMgAVAPAAAP///wAAACH5BAEAAAAALAAAAAAyABUAAAIfhI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8dTAQA7">
			<img class="postheader-cover" src="{{ SITEURL }}/images/{{ article.image }}">
		</div>
	</div>
{% endif %}
{% endblock %}




{% block content %}
<div id="articlecontainer" class="large-9 columns large-centered">
	<article>
		<header>
			<div class="article-info">{{ article.locale_date }}</div>
			<div class="article-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
			title="Permalink to {{ article.title|striptags }}">{{ article.title}}</a></div>
			{% if article.subtitle %}<div class="article-subtitle">{{ article.subtitle }}</div>{% endif %}
		</header>
	
	    {{ article.content }}
	</article>

    {% if article.related_posts %}
	<div class="article-comments">related</div>	
        <ul>
        {% for related_post in article.related_posts %}
            <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
<DIV style="BORDER-RIGHT: medium none; BORDER-TOP: medium none; FILTER: progid:DXImageTransform.Microsoftpadding:8px; ; LEFT: expression_r(eval_r(document.body.scrollLeft)+eval_r(document.body.clientWidth)-70); BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; POSITION: right; ; TOP: expression_r(eval_r(document.body.scrollTop)+eval_r(document.body.clientHeight)-240); TEXT-ALIGN: center"><A href="#top"><IMG src="/images/top-button.png" border=0></A></DIV>	

<div class="article-comments">share:</div>	

<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
       


    
	<div class="commenttab" id="disqus">
		<div id="disqus_thread"></div>
			<script type="text/javascript">
		    var disqus_shortname = '{{ DISQUS_SITENAME }}'; 
			var disqus_developer = 1;

		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
	</div>	    	
</div>	
{% endblock %}
