<!DOCTYPE html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />

	<title>{% block title %}{{ SITENAME }}{%endblock%}</title>

	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/normalize.css" />
	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/foundation.min.css" />
	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" />
	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css" />	
	<script src="{{ SITEURL }}/theme/js/jquery-2.0.3.min.js"></script>
	<script src="{{ SITEURL }}/theme/js/jquery.tabify.js"></script>
	<script src="{{ SITEURL }}/theme/js/custom.modernizr.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Open+Sans|Source+Code+Pro:400,500' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="{{ SITEURL }}/theme/images/bg/specialicon.ico" type="image/x-icon" />
	
	<script type="text/javascript">
	var waitForFinalEvent = (function () {
		var timers = {};
		return function (callback, ms, uniqueId) {
			if (!uniqueId) uniqueId = "_";
			if (timers[uniqueId]) clearTimeout (timers[uniqueId]);
			timers[uniqueId] = setTimeout(callback, ms);
		};
	})();
	var insertCaptions = function() {
		$('#articlecontainer .caption').remove();
		var width = $(window).width();
		var onmobile = width < 960; //>
		var capclass = onmobile ? 'caption-below' : 'caption-aside';
		$.each($('#articlecontainer img'), function(index, value) {
			if ($(value).attr('alt') != undefined) {
				var elem = $('<div class="caption '+capclass+'">'+$(value).attr('alt')+'</div>');
				if (onmobile) elem.insertAfter(value);
				else elem.insertBefore(value);
			}
		});
	};
	
	$(function() {
		$(window).resize(function () {
			waitForFinalEvent(function(){
				insertCaptions();
			}, 500, "window.resize");
		});
		insertCaptions();
	});
	</script>
</head>

<body>

<nav>
	<div class="top-bar large-12 columns">
		<h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
	</div>
</nav>

{% block headerimage %}{% endblock %}


<div class="row contentwrapper">
	<div class="row">
		{% block content %}{% endblock %}
		
		{% block aside %}{% endblock %}
	</div>
	
	<footer class="row">
		<div class="large-12 columns">
			<hr />
			<div class="row">
				<p><a href="http://linnus.net"><font style="color:#444;font-family:'Open Sans';font-weight: bold">{{ SITENAME }}</font> </a>by <font style="color:#444;font-family:'Open Sans';font-weight: bold">JIN-Lin(金林)</font></p>
				<p><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a><br />Unless otherwise stated, this work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.</p>
				<p>Powered by <a href="http://getpelican.com">Pelican</a>. Inspired by <a rel="bookmark" href="https://github.com/ametaireau">"tuxlite_zf" </a> and <a rel="bookmark" href="http://blog.macuyiko.com">"Macuyiko"</a>.</p>
			</div>
		</div>
		{% include "analytics.html" %}
	</footer>
</div>
 
